.DS_Store
node_modules
/build/
/.svelte-kit/
/package/
/.idea/
.env
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/dev-dist/
/tmp/
yarn-error.log
/.env.local
!/config/.env.local
__azurite*
__blobstorage*
__queuestorage*

# Visual Studio Code files
.vscode/